/* color scheme  
#FFFFFF  white
#81F4E1  aquamarine
#68D0F9  (or is that an O?)  maya blue
#FF729F  french pink
#D3A2CD  light medium orchid
background-color: darkseagreen;
padding-bottom should be unique to every caption because the shape of the photo will change where the caption border touches the photo border
*/

html, body {
    background-color:#f9fafc; 
    margin: 0;
    padding: 0;
    color: #262626;
    }

body {
    line-height: 1;
}

.body {
    margin-top: 3%;
}

.header {
    margin-top: 1.996178%;
    width: 100%;
    border: 2px solid #f9fafc;
    }

a {
    color:#FF729F;
    text-decoration:;
    font-size: 22px;
    }

#title {
    font-size: 155%;
    font-weight: 200;
    letter-spacing: .09%;
    text-shadow: 1px 2px 0 #D3A2CD ;
    width: 100%;
    }

#thirt {
    border-radius: 50%;
    border: solid 2px #81F4E1;
    padding: 1.8666%;
    background-color:#68D0F9;
    font-weight: 100;
    letter-spacing: .2em;
    font-size: 320%;
    }

 #depart {
    text-shadow: 1px 2px 0 #FF729F;
    font-weight: 100;
    border-top: .2%;
    font-size: 180%;
    }

#subTitle {
    font-size: 126%;
    width: 95%;
    text-align: center;
    border: solid 2px #81F4E1;
    border-radius: 80%;
    background-color:#68D0F9;
    }

#titleBlurb {
    font-family: cursive;
    font-size: 170%;
    padding-bottom: 3.714286%;
    line-height: 1.5;
    background-color:azure;
    }

.banners {
    text-align: center;
    border-bottom: solid 2px #81F4E1;
    border-right: solid 1px #81F4E1;
    font-family: 'Codystar', cursive;
    color: #FF729F;
    list-style:none;
    border-radius: 2%;
    } 

.body {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 100%;
    }

.object {
    margin-bottom: 5%;
    text-align: center;
    margin-left: 0.796178%;  
    }

.caption {
    width: 16%;  /*  this width setting is the only thing bringing the caption all the eway to the left  */
    margin-bottom: -.2%;
    border: 2px solid #68D0F9;
    text-align: left;
    padding-left: 2.019002%;
    margin-left: 2.019002%;  /* This brings the caption off the very edge of the left sied 
    of the screen */
    color: #05597a;
    background-color: azure;
    box-shadow: 5px 5px 5px grey;
    z-index: 6;
    font-family: cursive;
    position: absolute;
    }

.photo {
    border-radius: 50%;
    border: solid 2px #81F4E1;
    padding: 1.8666%;
    background-color:#68D0F9;
    width: 45%;
    float: left;
    box-shadow: 5px 5px 5px grey;
    }

.blurb_bubble {
    border-radius: 40%;
    border: 9px solid #68D0F9;
    margin-left: 30em;
    margin-top: 5%;
    padding-right: 6px;  /*keeps the text in the bubble off the border */
    height: 35%;
    background-color: darkseagreen;
    display: flex;
    flex-wrap: wrap;
    width 75%;
    }

.blurb_bubble_E {
    border-radius: 90%;
    width: 620px;
    margin-top: 24px;
    height: 2em;
    background-color: darkseagreen;
    text-align: center;
    padding-top: 90px;
    margin-top: 2.2em;
    margin-bottom: 10em;
    }

.bubble_text {
    text-align: center;
    padding-top: 2%;
    color: black;
    padding-right: 8%;
    }

h3 {
    font-size: 230%;
    }

h3.stretch {
    margin-top: 1.3em;
    font-family: 'Codystar', cursive;
    display:inline-block;
    border-top: 2px dotted black;
    border-bottom: 2px dotted black;
    -webkit-transform:scale(1.1,1); /* Safari and Chrome */
    -moz-transform:scale(1.1,1); /* Firefox */
    -ms-transform:scale(1.1,1); /* IE 9 */
    -o-transform:scale(1.1,1); /* Opera */
    transform:scale(1.1,1); /* W3C */
    width: 4em;
    }


.col-md-4{
}

#hauts {
    }

#hauts_caption {
    padding-bottom: -30px;  /*brings the caption in contact with the photo */
    border: 2px solid #81F4E1;
    }

#beachPhoto {
    border: 6px solid #81F4E1;
    }

#hauts_bubble {
        border: 9px solid #68D0F9;
    }

#grandEst {
    background-color: azure;
    padding-top: 3%;
    padding-bottom: 3%;

}
    
#grandEst_caption{
    }

#est_bubble {
    }

#comte_caption {
    border: 2px solid #FF729F;
    }

#arboisPhoto {
    border: 6px solid #FF729F;
    }

#comte_bubble {
    background-color: ;
    }


#auvergne_caption {
    border-color:#D3A2CD;
    }

#alpsPhoto {
    border-color:#D3A2CD;
    }

#auvergne {
    background-color: azure;
    padding-top: 3%;
    padding-bottom: 3%;
}
#auvergne_bubble {
    background-color: ;
    }

#azur_caption {
    border-color: #81F4E1;
    }

#marseillePhoto {
    border: 22px solid ##FF729F;
    border-color: #81F4E1;
    }

#azur_bubble {
    background-color:;
    }

#corse_caption {
    border-color: #68D0F9;
    }

#ajaccioPhoto {
    border-color: #68D0F9;
    }

#corse {
    background-color: azure;
    padding-top: 3%;
    padding-bottom: 3%;
}

#corse_bubble {
    }

#occ_caption {
    border-color: #FF729F;
    }

#occFlagPhoto {
    border-color: #FF729F;
    }

#occ_bubble {
    background-color: ;
    }

#aquitaine {
    background-color: azure;
    padding-top: 3%;
    padding-bottom: 3%;
    }

#aqui_caption {
    border-color: #D3A2CD;
    }

#aquitainePhoto {
    border-color:#D3A2CD;
    }

#aqui_bubble {
    }

#centre_caption {
    border-color:#81F4E1;
    }

#versPhoto {
    border-color:#81F4E1;
    }

#centre_bubble {
    background-color:  ;
    }

#ile {
    background-color: azure;
    padding-top: 3%;
    padding-bottom: 3%;
}

#ile_caption {
    border-color:#68D0F9;
    }

#parisPhoto {
    border-color: #68D0F9;
    }

#ile_bubble {
   }

#loire_caption {
    border-color: #FF729F;
    }

#loirePhoto {
    border-color:#FF729F;
    }

#loire_bubble {
    background-color: ;
    }

#bertagne {
    background-color: azure;
    padding-top: 3%;
    padding-bottom: 3%;
}

#bertagne_caption {
    border-color:#D3A2CD;
    }

#bertagnePhoto {
    border-color:#D3A2CD; 
    }

#bert_bubble {
    }

#normandie {
    }

#normandie_caption {
    border-color:#81F4E1;
    }

#stMichPhoto {
    /* This photo is the only outlier and may be adjusted smaller to look a bit more consistent the the other pictures */
    border-color:#81F4E1;
    }

#normandie_bubble{
    background-color:;
    }

/*footer styling*/
.footer {
    border-bottom: 2px solid #81F4E1;
    border-top: 2px solid #81F4E1;
    color: black;
    display:align-left;
    background-color: azure;
    max-height:20em;
    margin-top: 40%;
    padding-left: 6%;
    }

.footer p {
    font-size: 160%;
    letter-spacing: .6em;
    }

#footer_row {
    height : 19%;
    }

#footer_text {
    padding-top: 2%;
    }

#english {
    margin-left: inherit;
    padding-top: inherit;
    font-size: inherit;
    text-align: center;
    color: aquamarine;
    text-decoration: none;  
    }

/*departmentMap.html styling*/
#map {
    text-align: center;
    }
    
#map_return{
    line-height: 1.7;
    }
