/* color scheme  
#FFFFFF  white
#81F4E1  aquamarine
#68D0F9  (or is that an O?)  maya blue
#FF729F  french pink
#D3A2CD  light medium orchid
background-color: darkseagreen;

padding-bottom should be unique to every caption because the shape of the photo will change where the caption border touches the photo border
*/

html, body {
    background-color:#f9fafc; 
    margin: 0;
    padding: 0;
    }

.header {
    margin-bottom: 5.5em;
    min-width: 200px;
    }

.banners {
    background-color: #f9fafc;
    text-align: center;
    border-left: solid 210px #81F4E1;
    border-radius: 280px 280px 280px 280px;
    border-right: solid 210px #81F4E1;
    font-family: 'Codystar', cursive;
    color: #FF729F;
    list-style:none;
    
    } 

.body {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 16px;
    }

.object {
    margin-bottom: 10em;
    text-align: center;
    margin-left: 10px;
    margin-right: -20px;

    }

a {
    color: grey;
    text-decoration: none;
    }



#title {
    font-size: 22px;
    }


#subTitle {
    font-size: 22px;
    }


#titleBlurb {
    font-family: cursive;
    }


.row {
    height: 30em;
    }



.photo {
    border: 12px solid #68D0F9;
    border-radius: 280px 280px 280px 280px;
    width: 45%;
    float: left;
    box-shadow: 5px 5px 5px grey;

    }

h3 {
    font-size: 30px;
    text-decoration: underline;
}

.caption {
    width: 16%;  /*  this width setting is the only thing bringing the caption all the eway to the left  */
    margin-bottom: -.2em;
    border-radius: 280px 280px 280px 280px;
    border: 6px solid #68D0F9;
    text-align: left;
    padding-left: 6px;
    margin-left: 7px;  /* This brings the caption off the very edge of the left sied 
    of the screen */
    color: black;
    background-color: azure;
    box-shadow: 5px 5px 5px grey;

    }


.blurb_bubble {
    border-radius: 40%;
    border: 12px solid #68D0F9;
    margin-left: 30em;
    margin-top: 25px;
    padding-right: 6px;  /*keeps the text in the bubble off the border */
    height: 25em;
    background-color: darkseagreen;
    
    }

.bubble_text {
    text-align: right;
    padding-top: 90px;
    color: black;
    padding-right: 23px;
    }


#hauts {
    margin-top: 10em;
}

#hauts_caption {
    padding-bottom: -30px;  /*brings the caption in contact with the photo */
    border: 6px solid #81F4E1;
    }

#beachPhoto {
    border: 12px solid #81F4E1;
    }

#hauts_bubble {
    }
    

#grandEst_caption{
    padding-bottom: -30px;  /*brings the caption in contact with the photo */
    }



#est_bubble {
    }



#comte_caption {
    border: 12px solid #FF729F;
    }

#arboisPhoto {
    margin-top: -3px;
    border: 12px solid #FF729F;

}

#comte_bubble {
    background-color: ;

    }



#auvergne_caption {
    padding-bottom: -30px;  /*brings the caption in contact with the photo */
    border-color:#D3A2CD;
}


#alpsPhoto {
    border-color:#D3A2CD;
    
}

#auvergne_bubble {
    background-color: ;
    }


#azur_caption {
    padding-bottom: -30px; /*brings the caption in contact with the photo */
    border-color: #81F4E1;
}

#marseillePhoto {
    height: 445px;
    border: 22px solid ##FF729F;
    margin-top: -3px;
    border-color: #81F4E1;

    }

#azur_bubble {
   background-color:;

    }




#corse_caption {
    padding-bottom: -30px;  /*brings the caption in contact with the photo */
            border-color: #68D0F9;

}

#ajaccioPhoto {
            margin-top: -3px;
        border-color: #68D0F9;


    }

#corse_bubble {
    }



#occ_caption {
    border-color: #FF729F;

}

#occFlagPhoto {
    margin-top: -3px;
    border-color: #FF729F;
    
  
}

#occ_bubble {
    background-color: ;
    }

/* color scheme  
#FFFFFF  white
#81F4E1  aquamarine
#68D0F9  (or is that an O?)  maya blue
#FF729F  french pink
#D3A2CD  light medium orchid
background-color: darkseagreen;

padding-bottom should be unique to every caption because the shape of the photo will change where the caption border touches the photo border
*/


#aquitaine {
    margin-top: 80px;
}


#aqui_caption {
    padding-bottom: -30px;  /*brings the caption in contact with the photo */
    border-color: #D3A2CD;

    }

#aquitainePhoto {
    margin-top: -3px;
    border-color:#D3A2CD;

}
#aqui_bubble {
   }



#centre_caption {
    padding-bottom: -30px;  /*brings the caption in contact with the photo */
    border-color:#81F4E1;

    }
#versPhoto {
    margin-top: -3px;
    border-color:#81F4E1;

}



#centre_bubble {
    background-color:  ;
    }



#ile_caption {
    padding-bottom: -30px;  /*brings the caption in contact with the photo */
    border-color:#68D0F9;

    }

#parisPhoto {
    border-color: #68D0F9;
}

#ile_bubble {
   }



#loire_caption {
    padding-bottom: -30px;  /*brings the caption in contact with the photo */
     border-color: #FF729F;
    }

#loirePhoto {
    margin-top: -3px;
     border-color:#FF729F;
}

#loire_bubble {
  background-color: ;
    }



#bertagne_caption {
    padding-bottom: -30px;  /*brings the caption in contact with the photo */
    border-color:#D3A2CD;
    }

#bertagnePhoto {
    margin-top: -3px;
    border-color:#D3A2CD; 
}

#bert_bubble{
    }



#normandie {
     padding-bottom:40px;
   

}

#normandie_caption {
    padding-bottom: -30px;  /*brings the caption in contact with the photo */
    border-color:#81F4E1;
    }

#stMichPhoto {
    margin-top: -5px;
       /* This photo is the only outlier and may be adjusted smaller to look a bit more consistent the the other pictures */
    border-color:#81F4E1;
    }
#normandie_bubble{
    background-color:;
    }





/*footer styling*/
.footer {
    color: white;
    display:align-left;
    background-color:darkseagreen;
    max-height:15em;
    margin-top: 160px;
    padding-left: 2em;
    }


  
.footer p {
    display: center;
    }
#footer_row {
    height : 15em;
    padding-top:;
}

#footer_text {
    padding-top: .25px;
}


/*departmentMap.html styling*/
#map{
    text-align: center;
    }
    
#map_return{
    line-height: 3em;
    }


