
/*
Color scheme:
https://coolors.co/1abb9c-e4572e-ffc914-2274a5-122c34
#1ABB9C light green
#E4572E  orangish
#FFC914 yellow
#2274A5  dark blue
#122C34 charcoal 
*/

* {  
    background-color: ghostwhite;
    text-align: center;
    margin: 0;
    padding 0;
    }

body {
    margin-top: 5%;
    }

.cTitle {
    font-size: 480%;
    text-shadow: 1px 5px 0 #FF9800;
    color:#2274A5;
    letter-spacing: .5em;
    padding-bottom: .5em;
    }

#wheelTitle {
    margin-top: .5em;
    font-size: 580%;
    }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

#wheel {
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 1.5s; 
     animation-duration: 1.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    background-color: transparent;
    margin: 0 0 0 0;
    }

#of {
    margin-top: 4.5%;
    }

#fortune {
    font-size: 580%;
    }

.cText {
    font-size: 180%;
    color:#2274A5;
    letter-spacing: .5em;
    position: relative;
    margin-bottom: 5%;
    }

#congratsMess{
    margin-top: 4%;
    font-size: 120%;
    }

#prizeMess {
    }
#answerMess {
    }
#triesMess {
    }


/* ----------- good scope here for a variety of screens----------- */

/* ----------- iPhone 5----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
    
    .cTitle{
        font-size: 680%;
    }
    #congratsMess{
        font-size: 200%;

    }
    .cText{
        font-size: 220%;

    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
         .cTitle{
        font-size: 680%;
    }
    #congratsMess{
        font-size: 200%;

    }
    .cText{
        font-size: 220%;

    }
}
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 
           .cTitle{
        font-size: 680%;
    }
    #congratsMess{
        font-size: 200%;

    }
    .cText{
        font-size: 220%;

    }
}   
}

/* add 480px for mobile devices in landscape mode */
@media only screen and (min-device-width: 480px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 
           .cTitle{
        font-size: 680%;
    }
    #congratsMess{
        font-size: 200%;

    }
    .cText{
        font-size: 220%;

    }
}   
}

/* add 600px for kindle and nook */
@media only screen and (min-device-width: 600px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 
              .cTitle{
        font-size: 680%;
    }
    #congratsMess{
        font-size: 200%;

    }
    .cText{
        font-size: 220%;

    }
}


/* For general iPad layouts */
@media only screen and (device-width: 768px) {
    .cTitle{
        font-size: 680%;
    }
    #congratsMess{
        font-size: 200%;

    }
    .cText{
        font-size: 220%;

    }
}
}

/* For general iPad Pro */
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) { 
      .cTitle{
        font-size: 680%;
    }
    #congratsMess{
        font-size: 200%;

    }
    .cText{
        font-size: 220%;

    }
}    
}