 
/*
Color scheme:
https://coolors.co/1abb9c-e4572e-ffc914-2274a5-122c34
#1ABB9C light green
#E4572E  orangish
#FFC914 yellow
#2274A5  dark blue
#122C34 charcoal 
*/

* {  
    background-color: ghostwhite;
    text-align: center;
    margin: 0;
    padding 0;
    vertical-align: baseline;
    }

body {
    margin-top: 2.5%;
    line-height: 1;
    }

.text {
    color:#2274A5;
    }

#header {
    font-size: 320%;
    text-shadow: 1px 5px 0 #FF9800;
    line-height: 1.2;
    }

#choice {
    margin-top: 3%;
    }

button {
    font-size: 125%;
    border-radius: 50%;
    padding: 1.5%;
}

#hintButt {
    margin: 0 0 1% 0;
}

#spinbutt {
    margin: 1% 0 1% 0;
    }

#guessbutt {
    margin: 1% 0 1% 0;
    }

ul {
    list-style: none;
    }

li {
    list-style: none;
    float: left;
    color: #122C34;
    width: 3.5%;
    font-size: 250%;
    align-content: center;
    }

#alpha, #or {
    font-size: 100%;
    }

#userBoard {
    font-size: 100%;
    align-content: center;
    margin-bottom: 10%;
    margin-top: 2%;
    margin-left: 3%;
    margin-right : 3%;
    color:#122C34;
    }

#userBoard li {
            width: 2.8%;
            font-weight: 900;

}

#wheel {
    background:; 
    margin: 1% 0 2% 0;
    }

#guessedLetter {
    font-size: 180%;
    margin-top: 2.6%;
    }

#yesOrNo {
    letter-spacing: normal;
    font-size: 180%;
    color: #E4572E;
    }

.text {
    letter-spacing: .5em;
    padding-bottom: 1%;
    }

#moneyTitle{
    color: #E4572E;
    font-size: 100%;
    }

#moneyWon {
    color: #E4572E;
    font-size: 160%;
    }   

#tally {
    color: red;
    font-size: 300%; 
    height: 40%;
    }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

#wheel {
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 1.5s; 
     animation-duration: 1.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    background-color: transparent;
    }

/* this code will rotate your png attributed to the #wheel 20deg and moves it's position   */
 /*-ms-transform: rotate(20deg); /* IE 9 */
 /*-webkit-transform: rotate(20deg); /* Safari */
 /*transform: rotate(20deg);




/* ----------- good scope here for a variety of screens----------- */

/* ----------- iPhone 5----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
    #alpha {
        font-size: 75%;
    } 
    
      button {
        width: 50%;
        font-size:260%;
        }
     
    .or {
        font-size:250%;
        margin-top: 4%;
        margin-bottom: 4%;
        }
    #moneyTitle{
        font-size:140%;

        }

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
    
         #alpha {
        font-size: 75%;
    } 
    
      button {
        width: 50%;
        font-size:260%;
        }
     
    .or {
        font-size:250%;
        margin-top: 4%;
        margin-bottom: 4%;
        }
    #moneyTitle{
        font-size:140%;

        }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 
         #alpha {
        font-size: 75%;
    } 
    
      button {
        width: 50%;
        font-size:260%;
        }
     
    .or {
        font-size:250%;
        margin-top: 4%;
        margin-bottom: 4%;
        }
    #moneyTitle{
        font-size:140%;

        }
          
}

/* add 480px for mobile devices in landscape mode */
@media only screen and (min-device-width: 480px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 
          #alpha {
        font-size: 75%;
    } 
    
      button {
        width: 50%;
        font-size:260%;
        }
     
    .or {
        font-size:250%;
        margin-top: 4%;
        margin-bottom: 4%;
        }
    #moneyTitle{
        font-size:140%;

        }    
}

/* add 600px for kindle and nook */
@media only screen and (min-device-width: 600px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 
           #alpha {
        font-size: 75%;
    } 
    
      button {
        width: 50%;
        font-size:260%;
        }
     
    .or {
        font-size:250%;
        margin-top: 4%;
        margin-bottom: 4%;
        }
    #moneyTitle{
        font-size:140%;

        }   
}

/* For general iPad layouts */
@media only screen and (device-width: 768px) {
    #alpha {
        font-size: 75%;
    } 
    
      button {
        width: 50%;
        font-size:260%;
        }
     
    .or {
        font-size:250%;
        margin-top: 4%;
        margin-bottom: 4%;
        }
    #moneyTitle{
        font-size:140%;

        }
}

/* For general iPad Pro */
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) { 
      #alpha {
        font-size: 75%;
    } 
    
      button {
        width: 50%;
        font-size:260%;
        }
     
    .or {
        font-size:250%;
        margin-top: 4%;
        margin-bottom: 4%;
        }
    #moneyTitle{
        font-size:140%;

        }    
}
