html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    }

.nav {
    padding: 20px 0px; 
    text-align: center;
    text-shadow: #EEEE00 0 0 10px;
    background-color:#333333;
    }

a { 
    color: inherit; 
    text-decoration: none;
    padding: -20px;
    } 

.nav a {
    margin: 2px;
    padding: -20px;
    }

.nav li {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
    display: inline;
    /*padding-right: 25px; */
    text-transform: uppercase;
    margin: 0px;
    padding: -20px;
    border: 0px;
    }

.nav i {
    color: white;
    margin: 0px;
    padding: -20px;
    border: 0px;
    }

#contact {
    text-shadow: #EEEE00; 
    margin: 0px;
    padding: -20px;
    border: 0px;
    margin-left:-1em;
    }

body {
    background-image: url('images/gilmore-beach.png');
    background-size: 1550px 1550px;
    background-repeat: no-repeat;
    color: whitesmoke;
    height: auto;
    }

.blurb  {
    margin-top: 10em;
    margin-left: 4.7em;
    margin-right: 35em;
    }

.blurb p {
    font-size: 17px;
    line-height: 1.75em;
    }

footer {
    color: white;
    padding: 15px 0;
    margin-top: 50px;
    margin-bottom: -300px;
    margin-left: 4.7em;
    margin-right: 5em;
    text-shadow: #EE0000 0 0 10px;
    }

footer p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  }

#touch {
    margin-left: 3em;
    }

#number {
    margin-left: 3em;
    }

#icons {
    margin-left: 2.5em;
    margin-top: 1.5em;
    }





/*

.clearfix {
  clear: both;
  padding: 100px;
  }



@media (max-width: 50px) {
  .main h1 {
    font-size: 200px;
    padding: 0 40px;
    }
}

*/