html, body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    }

.header {
 	background-color:#333333;
    }

.nav {
    margin: 0;
    padding: 1.5% 0px; 
    text-align: center;
    text-shadow: #EEEE00 0 0 10px;
    }

.jumbotron {
    height: 700px;
    background: url(images/baby-blue-whale-and-mum.kraken.jpg);
    background-size:cover;
    }

.main {
    position: relative;
    top: 180px;
    text-align: center;
    }

.supporting {
    padding-top: 100px;
    padding-bottom: 50px;
    }

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;

    }

.col {
}

.btn-main a {
    background-color: #333333;
    color:white ;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.3px;
    padding: 16px 40px;
    text-decoration: none;
    text-transform: uppercase;
    }

#contact {
    text-shadow: #EEEE00 0 0 10px;
   /* padding-left: .4em;*/
    }

.nav a {
    padding-right: 12.5px;
    }

a { 
    color: inherit; 
    text-decoration: none;
    } 

.nav li {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
    display: inline;
    /*padding-right: 25px; */
    text-transform: uppercase;
    }

.nav i {
    color: white;
    }

/*https://suzanne.files.wordpress.com/2014/11/baby-blue-whale-and-mum.jpg*/

.main h1 {
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 75px;
    margin-top: 0;
    margin-bottom: 80px;
    text-transform: uppercase;
    }

.btn-default a {
    border: 1px solid #333;
    color:  #333;
    padding: 20px 60px 20px 60px;
    margin-top: 1px;
    margin-bottom: 20px;
    font-weight: 600;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.3px;
    display: inline-block;
    text-transform:uppercase; 
    text-align: center;
    margin-bottom:20px;
    }

.col {
    padding-top: 2em;
}

.btn-in-progress a {
    border: 1px solid #333;
    color:  #333;
    padding: 20px 38px 20px 38px;
    margin-top: 1px;
    margin-bottom: 20px;
    font-weight: 600;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.3px;
    display: inline-block;
    text-transform:uppercase; 
    text-align: center;
    margin-bottom:20px;
    }

.supporting .col {
    float: left;
    width: 33%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: .030em;
    margin-top: 2
    }

.supporting .col-mid {
    float: left;
    width: 33%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    }  

.supporting img {
    height: 32px;
    }

.supporting h2 {
    font-weight: 600;
    font-size: 23px;
    text-transform: uppercase;
    }

.supporting p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 0 50px;
    margin-bottom: 30px;
    }

.clearfix {
    clear: both;
    padding: 100px;
    }

.footer {
    background-color:#333;
    color: #fff;
    padding: 015px 0;
    margin-top: -50px;
    margin-bottom: -350px;
    }

.footer p {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    }

@media (max-width: 590px) {
    .main {
        top: 120px;
    }
    
    .main h1 {
        font-size: 49px;
        }
    .btn-main a {
        font-size: 16px;
        letter-spacing: 1.3px;
    }
    
    .jumbotron {
    height: 450px;
    }
}




/* ----------- good scope here for a variety of screens----------- */

/* ----------- iPhone 5----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
          
    *{
        color: red;
    }
    .nav {
        margin: 0;
        padding: 50px 0px; 
        }
     .nav a {
         font-size: 290%; 
         padding-left: 1.2%;
        padding-right: 1.2%;
        }
    #contact, #about {
                font-size: 95%; 
        }
    #btn-main {
        
        height: 50%;
    }
     }

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 


}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 
          
}

/* add 480px for mobile devices in landscape mode */
@media only screen and (min-device-width: 480px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 
          
}

/* add 600px for kindle and nook */
@media only screen and (min-device-width: 600px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 
          
}

/* For general iPad layouts */
@media only screen and (device-width: 768px) {

}

/* For general iPad Pro */
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) { 
      
}

 



  
  

