html, body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    }

.header {
 	background-color:#333333;
    }

.nav {
    margin: 0;
    padding: 1.5% 0px; 
    text-align: center;
    text-shadow: #EEEE00 0 0 10px;
    }

.jumbotron {
    height: 700px;
    background: url(images/baby-blue-whale-and-mum.kraken.jpg);
    background-size:cover;
    }

.main {
    position: relative;
    top: 180px;
    text-align: center;
    }

.supporting {
    padding-top: 100px;
    padding-bottom: 50px;
    }

.btn-main a {
    background-color: #333333;
    color: white ;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 120%;
    letter-spacing: .08em;
    padding: 1% 2.8%;
    text-decoration: none;
    text-transform: uppercase;

    }

#contact {
    text-shadow: #EEEE00 0 0 10px;
    }

.nav a {
    padding-right: .9%;
    }

a { 
    color: inherit; 
    text-decoration: none;
    } 

.nav li {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 100%;
    display: inline;
    text-transform: uppercase;
    }

.nav i {
    color: white;
    }

/*https://suzanne.files.wordpress.com/2014/11/baby-blue-whale-and-mum.jpg*/

.main h1 {
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 468%;
    margin-top: 0;
    margin-bottom: 7%;
    text-transform: uppercase;
    }

.btn-default a {
    border: 1px solid #333;
    color: #333;
    padding: 5.8% 18%;
    margin-top: .2%;
    margin-bottom: 6%;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .09em;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 6%;
}

.btn-in-progress a {
  border: 1px solid #333;
    color: #333;
    padding: 5.8% 11%;
    margin-top: .2%;
    margin-bottom: 6%;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .09em;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 6%;
    }

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 75%;
    margin: 0 auto;
    padding: 0;
}

.col {
    flex-grow: 1;
    width: 33%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: .030em;
    margin-top: 2%;
    padding-top: 2em;
    padding-left: .09%;
    padding-right: .09%;

 }

img {
    height: 36px;   /*these don't seem scalable, might have to keep in px*/
    }

.projTit {
    font-weight: bold;    /*i don't think this font supports font-weight on a p. I should change them back to h2s and see if they'll scale with % or em */
    font-size: 135%;
    text-transform: uppercase;
    }

p {
    font-weight: 400;
    font-size: 105%;
    padding: 0 10%;
    margin-bottom: 9%;
    }

.clearfix {
    clear: both;
    padding: 8%;
    }

.footer {
    background-color:#333;
    color: #fff;
    padding: 1.11% 0;
    border-bottom: 19px solid white;

    }

.footer p {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    }

/* ----------- good scope here for a variety of screens----------- */

/* ----------- iPhone 5----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) {

    .nav {
        margin: 0;
        }
     
    .nav a {
        font-size: 290%; 
        padding-left: 1.2%;
        padding-right: 1.2%;
        letter-spacing: .08em;
        }
    
    #contact, #about {
        font-size: 95%; 
        }
    
    #purpose {
        font-size: 320%;
        color: white;
        }
    
    .btn-main a {
        font-size: 180%;
        }
    
    #btn-main {
        height: 50%;
        }
    
    .col {
        min-width: 100%;
        max-height: 10%;
        }
    
    #wineBlog {
        margin-top: -15%;
        }
    
    #forager{
        margin-top: -35%;
        }
    
    #AAT {
        margin-top: -35%;
        }
    
    img {
        height: 12%;
        }
    
   .col p {
        height: 5%;
        font-size: 250%;
        }
    
    .btn-default  a {
        font-size: 160%;
        }
    
    .btn-in-progress  a {
        font-size: 160%;
        }
    
    .projTex {
        margin-bottom: 14%;
    }
}
     

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 

        .nav {
        margin: 0;
        }
     
    .nav a {
        font-size: 290%; 
        padding-left: 1.2%;
        padding-right: 1.2%;
        letter-spacing: .08em;
        }
    
    #contact, #about {
        font-size: 95%; 
        }
    
    #purpose {
        font-size: 320%;
        color: white;
        }
    
    .btn-main a {
        font-size: 180%;
        }
    
    #btn-main {
        height: 50%;
        }
    
    .col {
        min-width: 100%;
        max-height: 10%;
        }
    
    #wineBlog {
        margin-top: -20%;
        }
    
    #forager{
        margin-top: -40%;
        }
    
    #AAT {
        margin-top: -40%;
        }
    
    img {
        height: 12%;
        }
    
   .col p {
        height: 5%;
        font-size: 250%;
        }
    
    .btn-default  a {
        font-size: 160%;
        }
    
    .btn-in-progress  a {
        font-size: 160%;
        }
    
    .projTex {
        margin-bottom: 14%;
    }
  
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 
     .nav {
        margin: 0;
        }
     
    .nav a {
        font-size: 290%; 
        padding-left: 1.2%;
        padding-right: 1.2%;
        letter-spacing: .08em;
        }
    
    #contact, #about {
        font-size: 95%; 
        }
    
    #purpose {
        font-size: 320%;
        color: white;
        }
    
    .btn-main a {
        font-size: 180%;
        }
    
    #btn-main {
        height: 50%;
        }
    
    .col {
        min-width: 100%;
        max-height: 10%;
        }
    
    #wineBlog {
        margin-top: -20%;
        }
    
    #forager{
        margin-top: -40%;
        }
    
    #AAT {
        margin-top: -40%;
        }
    
    img {
        height: 12%;
        }
    
   .col p {
        height: 5%;
        font-size: 250%;
        }
    
    .btn-default  a {
        font-size: 160%;
        }
    
    .btn-in-progress  a {
        font-size: 160%;
        }
    
    .projTex {
        margin-bottom: 14%;
    }
        
}

/* add 480px for mobile devices in landscape mode */
@media only screen and (min-device-width: 480px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 
   .nav {
        margin: 0;
        }
     
    .nav a {
        font-size: 290%; 
        padding-left: 1.2%;
        padding-right: 1.2%;
        letter-spacing: .08em;
        }
    
    #contact, #about {
        font-size: 95%; 
        }
    
    #purpose {
        font-size: 320%;
        color: white;
        }
    
    .btn-main a {
        font-size: 180%;
        }
    
    #btn-main {
        height: 50%;
        }
    
    .col {
        min-width: 100%;
        max-height: 10%;
        }
    
    #wineBlog {
        margin-top: -20%;
        }
    
    #forager{
        margin-top: -40%;
        }
    
    #AAT {
        margin-top: -40%;
        }
    
    img {
        height: 12%;
        }
    
   .col p {
        height: 5%;
        font-size: 250%;
        }
    
    .btn-default  a {
        font-size: 160%;
        }
    
    .btn-in-progress  a {
        font-size: 160%;
        }
    
    .projTex {
        margin-bottom: 14%;
    }
          
}

/* add 600px for kindle and nook */
@media only screen and (min-device-width: 600px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 
    .nav {
        margin: 0;
        }
     
    .nav a {
        font-size: 290%; 
        padding-left: 1.2%;
        padding-right: 1.2%;
        letter-spacing: .08em;
        }
    
    #contact, #about {
        font-size: 95%; 
        }
    
    #purpose {
        font-size: 320%;
        color: white;
        }
    
    .btn-main a {
        font-size: 180%;
        }
    
    #btn-main {
        height: 50%;
        }
    
    .col {
        min-width: 100%;
        max-height: 10%;
        }
    
    #wineBlog {
        margin-top: -20%;
        }
    
    #forager{
        margin-top: -40%;
        }
    
    #AAT {
        margin-top: -40%;
        }
    
    img {
        height: 12%;
        }
    
   .col p {
        height: 5%;
        font-size: 250%;
        }
    
    .btn-default  a {
        font-size: 160%;
        }
    
    .btn-in-progress  a {
        font-size: 160%;
        }
    
    .projTex {
        margin-bottom: 14%;
    }
       
}

/* For general iPad layouts */
@media only screen and (device-width: 768px) {
 .nav {
        margin: 0;
        }
     
    .nav a {
        font-size: 290%; 
        padding-left: 1.2%;
        padding-right: 1.2%;
        letter-spacing: .08em;
        }
    
    #contact, #about {
        font-size: 95%; 
        }
    
    #purpose {
        font-size: 320%;
        color: white;
        }
    
    .btn-main a {
        font-size: 180%;
        }
    
    #btn-main {
        height: 50%;
        }
    
    .col {
        min-width:45%;
        max-height: 10%;
        }
    
    #cyoaCol {
        max-width: 20%;
        align-self: center;
        margin-left: 25%;
        }
    
    #AAT, #guiCol {        
        margin-top: -25%;
        }
    
   img {
        height: 12%;
        }
    
   .col p {
        height: 15%;
        font-size: 200%;
        }
    
    .btn-default  a {
        font-size: 160%;
        }
    
    .btn-in-progress  a {
        font-size: 160%;
        }
    
    .projTex {
        margin-bottom: 14%;
    }
  
}

/* For general iPad Pro */
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) { 
      .nav {
        margin: 0;
        }
     
    .nav a {
        font-size: 290%; 
        padding-left: 1.2%;
        padding-right: 1.2%;
        letter-spacing: .08em;
        }
    
    #contact, #about {
        font-size: 95%; 
        }
    
    #purpose {
        font-size: 320%;
        color: white;
        }
    
    .btn-main a {
        font-size: 180%;
        }
    
    #btn-main {
        height: 50%;
        }
    
    .col {
        min-width:45%;
        max-height: 10%;
        }
    
    #cyoaCol {
        max-width: 20%;
        align-self: center;
        margin-left: 25%;
        }
    
    #AAT, #guiCol {        
        margin-top: -25%;
        }
    
   img {
        height: 12%;
        }
    
   .col p {
        height: 15%;
        font-size: 200%;
        }
    
    #wineTex, #foragerTex {
        margin-top: -10%;
    }
    
    
    .btn-default  a {
        font-size: 160%;
        }
    
    .btn-in-progress  a {
        font-size: 160%;
        }
    
    .projTex {
        margin-bottom: 14%;
        margin-top: 5%;
    }
}

 



  


  

