/*
army green #49552F
dark vanilla #CAB7A1
cadet grey #86A5A9
columbia blue #C1E6DF
rich black #0B0405
*/

* {
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
}

header {
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 9px;

}

@font-face {
    font-family: bookFont;
    src: url(broadcasttitling.ttf);
}

.pageTitle {
    font-family: bookFont;
    font-size: 800%;
    text-align: center;
    margin-top: 4%;
}

.filters{
    color:#0B0405;
   margin-left:20%;
    margin-top: 2%;
    font-family: filterfont;
    font-size: 200%;
    text-shadow: 2px 2px #e6ffff;
    
}

#nonfiction {
    color:#0B0405;
       margin-left:20%;
}

@font-face {
    font-family: filterfont;
    src: url(cartoonblocks.ttf);
}

@font-face {
    font-family: keyFont;
    src: url(indiefont.ttf);
}

body {
    line-height: 1;
}



:not(.title) {}

.title {
    word-spacing: 3px;
    text-align: center;
    /*border: 1px solid orange;*/
    margin: 4%;
    font-family: keyFont;
    display: table-cell;
    vertical-align: middle;
    padding: 10%;
    font-size: 160%;
    color: #003366;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /*border: 1px solid red;*/
    align-self: center;
    margin-left: 5%;
    margin-right: 5%;
}

.col {
    width: 24%;
    height: 32%;
    position: relative;

}

.text {
    display: block;
    position: relative;
    border: 3px solid #E6F1F8;
    border-style: ridge;
    line-height: 1.5em;
    flex-wrap: wrap;
    height: 22%;
    margin: 16%;
    min-width: 92%;
    min-height: 190px;
    position: relative;
    display: table;
    text-align: center;
}

#paper::after {
    content: "";
    background: url(booksBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.13;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#audio::after {
    content: "";
    background: url(headphones.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.13;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.p2 {
    display: block;
    position: relative;
    /*border: 1px solid pink;*/
    line-height: 1.5em;
    background-color: #C1E6DF;
}




