/*

color accent? how do I intelleginently change the border color without the discrepency of the added 1px border width for the image element?

*/

*{
  font-family: georgia, times, serif;
  margin: 0px;
  padding: 0px;
  font-family: 'Arimo', sans-serif;
  list-style-type: none;
  font-size: 100%;
  }

body {
  color: black;
  background-color: whitesmoke;
  }

.container-fluid {
  background-color: whitesmoke;
  padding:  3.425% 2.81%;
  }

.image-box {
  padding-top: 2.5%;
  background-color: grey;
  font-family: 'Sedgwick Ave', cursive;
  border-radius: 40px 40px 20px 20px;
   }

img {
  border: 1px solid white;
  }

#heading {
  text-align:center;
  font-size: 470.375%;
  font-family: 'Sedgwick Ave', cursive;
  color: white;
  margin-top: 1.1333333333%;
  }

#subtitle {
  margin-bottom:0.9333333333%;
  font-size: 200.375%;
  }

.inner-image-box {
  background-color: grey;
  border width:  -40px -40px 10px -40px;
  } 

.image {
  display:block;
  margin: 0, auto;
  width: 100%;
  }

#caption {
  color:white;
  text-align: right;
  padding-right: 1.5%;
}
    
#timeline-intro {
    text-align: center;
    padding-top: 3.5%;
    text-align: center;
    font-family: 'Zeyada', cursive;
    font-size: 210.25%;
  }

.timeline {
  line-height: 149.9%;
  }

.panel {
    display: none;
    height: 14%;
    padding-top: .5%;
    }

#short-panel {
    height: 1%;
}

.accordion-control {
    background-color: #444;
    color: #eee;
    cursor: pointer;
    padding: 2.25%;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 120.25%;
    }
  
ul {
  width: 70%;
  margin: 2.30769230% 15.3846% 3.15384615% 17.230769%;   
  }

.script {
  font-family: 'Zeyada', cursive;
  }

h3 {
  text-align: center;
  font-family: 'Sedgwick Ave', cursive;
  color: white;
  }

h4 {
  text-align: center;
  }

.indent {
  padding-left: 6.6%;
  }

li :hover {
 text-shadow: 2px 2px #f2e6ae;
  }

ul, h4 :hover {
    text-shadow: 0px 0px black;
}

.bold {
  font-weight: 700;
  }

#wikiLink {
  text-align: center;
  padding-top: 2.3%;
  padding-bottom: 2.6%;
  font-size: 155%;
  }

#wikiLink a {
  font-size: 70%;
  color: grey;
  }

a:link {
  text-decoration: none;
  }

#quote {
  font-family: 'Zeyada', cursive;
  font-size: 200%;
    margin-left: 6% ;
    margin-right:6% ;
    margin-bottom:4%;
  line-height: 120%;
  }

.footer {
  text-align: center;
  }

#attribute {
  border-bottom: 20px;
  }



