* {
    font-size: 100%;
    text-align: center;
    background-color: azure;

}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

h1 {
    font-size: 400%;
    font-weight: 100;
    letter-spacing: 1.5em;
    line-height: 1.4em;
    margin-top: 4%;
    text-shadow: 9px 15px 5px #e0ebeb;
    font-family: monospace;
}

.the,
.pole {
    text-shadow: -9px 15px 5px #e0ebeb;
}



.hidden-word-display {
        font-size: 200%;

}

.guesses-left {}

.users-input {
    background-color: azure;



}

.canvas {
    background-color: #e1ebeb;
    margin: 3% 20%;
}



form {
    margin-left: inherit;
    margin-bottom: 4%;
}

.input-group-label {
    background-color: #e1ebeb;
    max-width: 40%;
    padding: .3%;

}

.input-group-field {
    max-width: 20%;
}

form .button {
    color: lightcyan;
}


.input-group {
    max-width: 70%;

}

.game-guess-container {}

#restart-button {}






/* ----------- good scope here for a variety of screens----------- */

/* ----------- iPhone 5----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) {

     canvas {
        min-width: 60%;
    }
    
    p {
        font-size: 45px;
    }
    
    
   input{
        min-width: 50%;

    }
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    
    
     canvas {
        min-width: 60%;
    }
    
    p {
        font-size: 45px;
    }
    
    
   input{
        min-width: 50%;

    }
}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    
    
     canvas {
        min-width: 60%;
    }
    
    p {
        font-size: 45px;
    }
    
    
   input{
        min-width: 50%;

    }
}

/* add 480px for mobile devices in landscape mode */

@media only screen and (min-device-width: 480px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    
     canvas {
        min-width: 60%;
    }
    
    p {
        font-size: 45px;
    }
    
    
   input{
        min-width: 50%;

    }
}

/* add 600px for kindle and nook */

@media only screen and (min-device-width: 600px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    
     canvas {
        min-width: 60%;
    }
    
    p {
        font-size: 45px;

    }
    
    
   input{
        min-width: 50%;

    }
}

/* For general iPad Pro */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
    
     canvas {
        min-width: 60%;
    }
    
    p {
        font-size: 45px;
    }
    
    
   input{
        min-width: 50%;

    }
}
